<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'>
</link>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css">
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

<style>
    input[type="text"],
    select {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    table tr {
        border: 1px solid #ccc;
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
    }

    .button-red {
        display: inline-block;
        background-color: red;
        color: white;
        padding: 8px 16px;
        text-decoration: none;
        border-radius: 4px;
    }

    .button-red:hover {
        background-color: red;
    }

    .button-green {
        display: inline-block;
        background-color: green;
        color: white;
        padding: 8px 16px;
        text-decoration: none;
        border-radius: 4px;
    }

    .button-green:hover {
        background-color: green;
    }


    .swal2-icon .swal2-icon-content {
        display: flex;
        align-items: center;
        font-size: 0.75em;
    }
</style>

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Categories </h2>
            <!-- <p>Add, edit or delete a category</p> -->
        </div>
        <!-- <div>
            <input type="text" placeholder="Search Categories" class="form-control bg-white">
        </div> -->
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <form action="" method="post">
                        <div class="mb-4">
                            <label for="categoryName">Category </label>
                            <input type="text" class="form-control" id="categoryName" placeholder="Enter category name"
                                name="category" required>
                        </div>
                        <div class="mb-4">

                            <button class="btn btn-primary btn-block" type="button" id="apply-coupon-btn"
                                onclick="applySubmit()">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-7">
                    <div class="row table-responsive col-lg-12">
                        <table class="table table-hover" class="table table-bordered" style="width:100%"
                            id="productsTable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% category.forEach((element, index)=> { %>
                                    <tr>
                                        <td>
                                            <%= index + 1 %>
                                        </td>
                                        <td>
                                            <%= element.category %>
                                        </td>
                                        <td>

                                            <a href="javascript:void(0);" class="button-red"
                                                onclick="confirmDelete('<%= element._id %>')">Delete</a>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



<script>

    function applySubmit() {
        var categoryNameInput = document.getElementById("categoryName");
        if (categoryNameInput.value.trim() === "") {
            Swal.fire('Enter Valid Input');
            return false;
        }
        let categoryInput = document.getElementById('categoryName');
        let category = document.getElementById('categoryName').value;

        $.ajax({
            url: '/admin/add-category',
            data: {
                category: category,
            },
            method: 'POST',
            success: (response) => {

                console.log(response)
                if (response.status == false) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'info',
                        title: 'Category Already Added',
                        showConfirmButton: false,
                        timer: 1500
                    })
                } else {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Category  Added',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        location.reload(); // Reload the page
                    });

                }

            }
        });
    }

    function confirmDelete(subcategoryId) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            // icon: 'warning',
            icon: 'question',
            iconHtml: '؟',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: '/admin/delete-category/' + subcategoryId,
                    method: "GET",
                    success: (response) => {
                        if (response.status) {
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            ).then(() => {
                                location.reload(); // reload the current page
                            })
                        }
                    }
                })
            }
        }).catch(error => {
            console.error(error);
            Swal.fire('Error!', 'An error occurred while deleting the subcategory.', 'error');
        });

    }


    $(document).ready(function () {
        $('#productsTable').DataTable();
    });

</script>