<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'>
</link>
<section class="content-main">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">Add New Product</h2>
                <div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Basic</h4>
                </div>
                <div class="card-body">
                    <form onsubmit="return validateForm()" action="/admin/add-product" method="post"
                        enctype="multipart/form-data">
                        <div class="mb-4">
                            <label for="brand" class="form-label">Brand</label>
                            <input type="text" placeholder="Brand" name="brand" class="form-control" id="brand"
                                aria-describedby="emailHelp" required>
                        </div>
                        <div class="mb-4">
                            <label for="productname" class="form-label">Product Name</label>
                            <input type="text" placeholder="Product Name" name="productname" class="form-control"
                                id="productname" aria-describedby="emailHelp" required>
                        </div>
                        <div class="mb-4">
                            <label for="producttype" class="form-label">Product Type</label>
                            <input type="text" placeholder="producttype" name="producttype" class="form-control"
                                id="producttype" aria-describedby="emailHelp" required>
                        </div>
                        <div class="mb-4">
                            <label for="categoryDescription">Category</label>
                            <select class="form-control" id="categoryDescription" name="category" required>
                                <option value="" selected disabled>Select category description</option>
                                <% categories.forEach(element=> { %>
                                    <option value="<%= element._id %>">
                                        <%= element.category %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="mb-4">
                            <label for="categoryDescription">SubCategory</label>
                            <select class="form-control" id="categoryDescription" name="subcategory" required>
                                <option value="" selected disabled>Select Subcategory </option>
                                <% subcategories.forEach(element=> { %>
                                    <option value="<%= element._id %>">
                                        <%= element.subcategory %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label for="price" class="form-label">Regular price</label>
                                    <div class="row gx-2">
                                        <input placeholder="₹" name="price" type="text" class="form-control" id="price"
                                            required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label for="discountPerc" class="form-label">Discount in percentage</label>
                                    <input placeholder="%" name="discountPerc" type="text" id="discountPerc"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label class="form-label" for="myselect">Size</label>
                                <select class="form-select" name="size" id="myselect">
                                    <option> Small </option>
                                    <option> Medium </option>
                                    <option> Large </option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label for="stock" class="form-label">Stock</label>
                                    <div class="row gx-2">
                                        <input placeholder="" name="stock" type="stock" class="form-control" id="stock"
                                            required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h4>Media</h4>
                                </div>
                                <div class="card-body">
                                    <div class="input-upload">
                                        <img src="/imgs/theme/upload.svg" alt="">
                                        <label for="image" class="form-label"></label>
                                        <input type="file" id="image" name="image" class="form-control" multiple
                                            required>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-4">
                                <!-- <div class="card-header">
                                    <h4>Category Input</h4>
                                </div> -->
                                <div class="card-body">
                                    <div class="row gx-2">
                                        <!-- <div class="col-sm-6 mb-3">
                                            <label class="form-label">Category</label>
                                            <select class="form-select">
                                                <option> Automobiles </option>
                                                <option> Home items </option>
                                                <option> Electronics </option>
                                                <option> Smartphones </option>
                                                <option> Sport items </option>
                                                <option> Baby and Tous </option>
                                            </select>
                                        </div> -->
                                        <!-- <div class="col-sm-6 mb-3">
                                            <label class="form-label">Sub-category</label>
                                            <select class="form-select">
                                                <option> Nissan </option>
                                                <option> Honda </option>
                                                <option> Mercedes </option>
                                                <option> Chevrolet </option>
                                            </select>
                                        </div> -->
                                        <div>
                                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                        </div>
                                    </div>
                    </form>
                </div>
            </div> <!-- card end// -->

        </div>

    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>

<script>

    function validateForm() {
        var brandInput = document.getElementById("brand");
        var productNameInput = document.getElementById("productname");
        var producttypeInput = document.getElementById("producttype");
        var priceInput = document.getElementById("price");
        var discountPercInput = document.getElementById("discountPerc");
        var stockInput = document.getElementById("stock");
        var imageInput = document.getElementById("image");

        // add similar code for other form fields
        if (brandInput.value.trim() === "" || stockInput.value.trim() === "" ||  productNameInput.value.trim() === "" || producttypeInput.value.trim() === "" || priceInput.value.trim() === "" || discountPercInput.value.trim() === "") {
            swal({
                title: 'Error!',
                text: 'Enter Valid Field Inputs',
                icon: 'error',
                button: 'OK'
            });
            return false; // prevent form submission
        }

        // Iterate through each selected file and check if it's a valid image
        var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
        for (var i = 0; i < imageInput.files.length; i++) {
            var file = imageInput.files[i];
            var fileName = file.name;

            if (!allowedExtensions.exec(fileName)) {
                swal({
                    title: 'Error!',
                    text: 'Please select valid image files only (JPEG, JPG, PNG, GIF).',
                    icon: 'error',
                    button: 'OK'
                });
                return false; // prevent form submission
            }
        }
        if (stockInput.value< 0 ) {
            // Use SweetAlert to display an alert to the user
            swal({
                title: 'Error!',
                text: 'Stock cannot be less than zero',
                icon: 'error',
                button: 'OK'
            });
            return false;
        }
        if (discountPercInput.value < 0 || priceInput.value < 0) {
            // Use SweetAlert to display an alert to the user
            swal({
                title: 'Error!',
                text: 'Product Price cannot be less than zero',
                icon: 'error',
                button: 'OK'
            });
            return false;
        }
       
        swal({
            title: 'Success!',
            text: 'Product Edited successfully',
            icon: 'success',
            button: 'OK'
        });
        return true; // allow form submission
    }
</script>