<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'>
</link>
<section class="content-main">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">Banner Mangement </h2>
                <div>
                    <!-- <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button> -->
                    <!-- <button class="btn btn-md rounded font-sm hover-up"> </button> -->
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-body">
                    <form onsubmit="return validateForm()" action="/admin/edit-banner/<%= banners._id %>" method="post"
                        enctype="multipart/form-data">
                        <div class="mb-4">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" placeholder="Title" name="title" class="form-control" id="title"
                                aria-describedby="emailHelp" required value="<%=banners.title%>">
                        </div>
                        <div class="mb-4">
                            <label for="description" class="form-label">Description</label>
                            <input type="text" placeholder="Description" name="description" class="form-control"
                                id="description" aria-describedby="emailHelp" required value="<%=banners.description%>">
                        </div>
                        <div class="mb-4">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h4>Media</h4>
                                </div>
                                <div class="card-body">
                                    <div class="input-upload">
                                        <img src="/imgs/theme/upload.svg" alt="">
                                        <label for="image" class="form-label"></label>
                                        <input type="file" id="image" name="image" class="form-control" multiple><br>
                                        <% banners.images.forEach(image=> { %>
                                            <img src="/uploads/<%= image %>" alt="Banner Image"
                                                style="width:75px; height:75px;">
                                            <% }) %>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-4">
                                <!-- <div class="card-header">
                                    <h4>Category Input</h4>
                                </div> -->
                                <div class="card-body">
                                    <div class="row gx-2">
                                        <!-- <div class="col-sm-6 mb-3">
                                            <label class="form-label">Category</label>
                                            <select class="form-select">
                                                <option> Automobiles </option>
                                                <option> Home items </option>
                                                <option> Electronics </option>
                                                <option> Smartphones </option>
                                                <option> Sport items </option>
                                                <option> Baby and Tous </option>
                                            </select>
                                        </div> -->
                                        <!-- <div class="col-sm-6 mb-3">
                                            <label class="form-label">Sub-category</label>
                                            <select class="form-select">
                                                <option> Nissan </option>
                                                <option> Honda </option>
                                                <option> Mercedes </option>
                                                <option> Chevrolet </option>
                                            </select>
                                        </div> -->
                                        <div>
                                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                        </div>
                                    </div>
                    </form>
                </div>
            </div> <!-- card end// -->

        </div>

    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>

<script>

    function validateForm() {
        var brandInput = document.getElementById("brand");
        var productNameInput = document.getElementById("productname");
        var producttypeInput = document.getElementById("producttype");
        var priceInput = document.getElementById("price");
        var discountPercInput = document.getElementById("discountPerc");
        var imageInput = document.getElementById("image");

        // add similar code for other form fields
        if (brandInput.value.trim() === "" || productNameInput.value.trim() === "" || producttypeInput.value.trim() === "" || priceInput.value.trim() === "" || discountPercInput.value.trim() === "") {
            swal({
                title: 'Error!',
                text: 'Enter Valid Field Inputs',
                icon: 'error',
                button: 'OK'
            });
            return false; // prevent form submission
        }

        // Iterate through each selected file and check if it's a valid image
        var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
        for (var i = 0; i < imageInput.files.length; i++) {
            var file = imageInput.files[i];
            var fileName = file.name;

            if (!allowedExtensions.exec(fileName)) {
                swal({
                    title: 'Error!',
                    text: 'Please select valid image files only (JPEG, JPG, PNG, GIF).',
                    icon: 'error',
                    button: 'OK'
                });
                return false; // prevent form submission
            }
        }

        if (discountPercInput.value < 0 || priceInput.value < 0) {
            // Use SweetAlert to display an alert to the user
            swal({
                title: 'Error!',
                text: 'Product Price cannot be less than zero',
                icon: 'error',
                button: 'OK'
            });
            return false;
        }
        swal({
            title: 'Success!',
            text: 'Product Edited successfully',
            icon: 'success',
            button: 'OK'
        });
        return true; // allow form submission
    }
</script>